Options +FollowSymLinks

RewriteEngine On
RewriteBase /

# presmerovanie vpsfree.cz na www.vpsfree.cz
# RewriteCond %{HTTP_HOST} !^vpsfree\.cz$ [NC]
# RewriteRule .? https://vpsfree.cz%{REQUEST_URI} [R=301,L]
